<div class="first">
	<div [ngStyle]="{'width.%':width}" class="second"></div>
</div>

<table class="table table-hover">
	<th>FirstName</th>
	<th>LastName</th>
	<th>Designation</th>
	<th>Contact</th>
	<th>Address</th>

	<tr *ngFor="let emp of allEmployee">
		<td>{{emp.firstname}}</td>
		<td>{{emp.lastname}}</td>
		<!--<td>{{emp.id}}</td>-->
		<td>{{emp.designation}}</td>
		<td>{{emp.contact}}</td>
		<td>{{emp.address}}</td>
	<td>
			<a class="btn" (click)="edit(emp)">
				<i class="fa fa-edit"></i>
			</a>
		</td>
		<td>
			<a class="btn text-danger"(click)="deleteEmployee(emp.id)">
				<i class="fa fa-trash"></i>
			</a>
		</td>
	</tr>
</table>

